* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    padding: 40px 2px 70px 2px;
}

/* Fixed header */
.header {
    position: fixed;
    top: 0;
    left: 18px;
    /*right: 21px;*/
    width: 90%;
    height: 40px;
    background-color: var(--tg-theme-bg-color);
    border: rgba(74, 136, 154, 0.44);
    box-shadow: 0 2px 5px rgba(74, 136, 154, 0.44);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Title styling */
.header h1 {
    margin: 0;
    left:20px;
    font-size: 10px;
}


/* Items list styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-box {
    background-color: var(--tg-theme-bg-color);
    /*border: 1px solid rgba(243, 102, 102, 0.22);*/
    border: rgba(74, 136, 154, 0.44);
    box-shadow: 0 2px 5px rgba(74, 136, 154, 0.44);
    border-radius: 10px;
    width: 44%;
    margin: 15px auto;
    padding: 10px;
    transition: transform 0.3s ease;
}

.item-box:hover {
    transform: translateY(-5px);
}

.item-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.item-details {
    padding: 10px 0;
}

/* Price and Heart Icon Styling */
.price-and-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 1.0rem;
    color: #326472;
}

.like-icon {
    font-size: 1.0rem;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.like-icon:hover {
    color: #e63946;
}

.item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 5px 0;
    color: var(--tg-theme-text-color);
}

.item-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Search box styling */
.search-container {
    position: relative;
}

.search-input {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #be0e0e;
    border-radius: 5px;;
}

.search-box {
    padding-left: 30px; /* Adjust the padding to make space for the icon */
    width: 200px;
    height: 35px;
    font-size: 1rem;
    border: 1px var(--tg-theme-text-color);
    border-radius: 20px;
    background-color: rgba(73, 139, 157, 0);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none; /* Prevent clicking the icon from focusing the input */
}

/* Footer navigation */
.bottom-navigation {
    position: fixed;
    bottom: 5px;
    left: 21px;
    right: 21px;
    background-color: var(--tg-theme-bg-color);
    border: rgba(74, 136, 154, 0.44);
    box-shadow: 0 2px 5px rgba(74, 136, 154, 0.44);
    border-radius: 10px;
    border-top: 1px solid rgba(53, 108, 110, 0.59);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000;
}

.nav-icon {
    text-align: center;
    color: var(--tg-theme-text-color);
    font-size: 16px;
    text-decoration: none;
    flex: 1;
}

.nav-icon i {
    font-size: 16px;
    display: block;
}

.nav-icon span {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 4px;
    display: block;
}

.nav-icon:hover {
    color: #4b8898;
}


/* Responsive Design */
@media (max-width: 768px) {
    .item-box {
        width: 44%;
    }

    .search-container {
        text-align: center;
    }

    .search-box {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .item-box {
        width: 44%;
    }
}
